.message-date {
  margin: 40px 0;
  text-align: center;
}

.main-message-container {
  margin: 10px 0;
  padding: 11px;
  display: flex;
  background-color: $extra-light-grey;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: $default-radius;
  border-top-left-radius: 0%;
  max-width: 45%;
  width: max-content;

  .main-message-text {
    font-size: $md-text;
    margin: 0;
  }

  .message-meta-info {
    margin-left: 15px;
    display: flex;

    .send-time {
      margin-left: 4px;
      color: $grey-color;
      font-size: $xs-text;
    }

    .my-send-time {
      color: $primary-color;
    }
  }
}

.my-message {
  background-color: $light-blue-color;
  border-radius: $default-radius;
  border-bottom-right-radius: 0%;
  margin-left: auto;
}
