.chat-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-top: $default-border;
  box-sizing: border-box;

  .author-avatar {
    width: $avatar-size-md;
    height: $avatar-size-md;
    flex-shrink: 0;
  }

  .empty-circle {
    width: $avatar-size-md;
    height: $avatar-size-md;
    background-color: $light-grey-color;
    border-radius: 100%;
    cursor: pointer;
    flex-shrink: 0;

    &:hover {
      background-color: $grey-color;
    }
  }

  .chat-content {
    padding-left: 10px;
    color: $grey-color;
    flex-grow: 2;
    height: 47px;
    overflow: hidden;
    text-overflow: ellipsis;

    .chat-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .message-author {
        color: $black-text;
      }

      .chat-header-right-side {
        display: flex;
        align-items: center;

        .message-time {
          font-size: $sm-text;
          line-height: $sm-text;
        }
      }
    }

    .message-container {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .message-text {
        margin: 0;
        font-size: $md-text;
        width: calc(100% - 50px);

      }

      .unread-msg-count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        font-size: $sm-text;
        text-align: right;
        background-color: $primary-color;
        color: $white-text;
      }
    }
  }
}

.selected-chat-container {
  background-color: $light-blue-color;
}
