.primary-button {
  background-color: $primary-color;
  color: $white-text;
  border: none;
  cursor: pointer;
  width: 280px;
  padding: 12px;
  border-radius: 8px;

  &:hover {
    background-color: $primary-hover-color;
  }
}

.round-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 100%;
  line-height: 0;
}

.profile-save-button {
  margin-top: 60px;
}

.user-settings-button {
  width: 25px;
  height: 25px;
  rotate: 90deg;
  padding: 5px;
  font-size: $sm-text;
  letter-spacing: 2px;
  text-align: center;
}

.user-settings-active {
  color: $primary-color;
  background-color: $light-grey-color;
}

.control-button {
  font-size: $xl-text;
  width: 22px;
  height: 22px;

  &-users {
    color: $primary-color;
    margin: 0 15px 0 0;
    border: 1.5px solid $primary-color;
  }

  &-chats {
    color: $grey-color;

    // border: 1.5px solid $red-color;
  }
}

.button-rotate {
  rotate: 45deg;
}

.logout-button {
  border: none;
  background-color: transparent;
  color: $red-color;
  padding: 10px 0;
  cursor: pointer;

  &:hover {
    color: $red-hover-color;
  }
}
