.form-page {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .form-container {
    width: 340px;
    min-height: 460px;
    box-shadow: 0 0 6px rgb(0 0 0 / 0.14);
    border-radius: 12px;
    padding: 30px;
    color: $black-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .registration-form {
      align-self: stretch;
      display: flex;
      flex-direction: column;

      .registration-form-title {
        text-align: center;
        margin-bottom: 30px;
      }

      .registration-input-label {
        font-size: $sm-text;
        margin-top: 16px;
        margin-bottom: 7px;
        color: $grey-color;
      }

      .registration-form-input {
        border-bottom: 1px solid $primary-color;
        padding-bottom: 7px;
      }
    }

    .button-container {
      margin-top: 45px;
      text-align: center;

      .registration-form-link {
        display: block;
        margin-top: 14px;
        font-size: $sm-text;
        text-decoration: none;
        color: $primary-color;
        cursor: pointer;

        &:hover {
          color: $primary-hover-color;
        }
      }
    }
  }
}
