.profile-table {
  width: 510px;
  margin-top: 60px;

  td {
    border-bottom: $default-border;
    padding: 10px 0;
  }
}

.user-data-table td:last-child {
  text-align: right;
  color: $grey-color;
}