.chat-list-container {
  display: flex;
  flex-direction: column;
  width: $chat-list-width;
  background-color: $extra-light-grey;
  padding: 0 10px;
  min-height: 100vh;
  border-right: $default-border;

  .profile-nav {
    margin: 20px 0;
    text-align: right;
  }

  .input {
    border-radius: 5px;
    background-color: $light-grey-color;
    font-size: $md-text;
    height: 32px;
    text-align: center;
    padding: 0 12px;
    min-width: 100%;

    &::placeholder {
      background: 38% url("./images/search-icon.svg") no-repeat;
    }
  }

  .chat-list {
    margin-top: 14px;
    border-bottom: $default-border;
  }
}
