$chat-list-width: 310px;

.chat-page {
  display: flex;

  .chat-list-container {
    display: flex;
    flex-direction: column;
    width: $chat-list-width;
    background-color: $extra-light-grey;
    padding: 0 10px;
    min-height: 100vh;
    border-right: $default-border;

    .profile-link {
      color: $grey-color;
      font-size: $md-text;
      margin: 20px 10px;
      text-align: right;
    }

    .chat-search-field {
      border-radius: 5px;
      background-color: $light-grey-color;
      font-size: $md-text;
      height: 32px;
      text-align: center;
      padding: 0 12px;

      &::placeholder {
        background: 38% url("./images/search-icon.svg") no-repeat;
      }
    }

    .chat-list {
      margin-top: 14px;

      .chat-container {
        display: flex;
        justify-content: space-around;
        padding: 12px 0;
        border-top: $default-border;
        border-bottom: $default-border;

        .author-avatar {
          width: 47px;
          height: 47px;
          flex-shrink: 0;
        }

        .chat-content {
          padding-left: 10px;
          color: $grey-color;

          .chat-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .message-author {
              color: $black-text;
            }

            .message-time {
              font-size: $sm-text;
              line-height: $sm-text;
            }
          }

          .message-container {
            margin-top: 4px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .message-text {
              font-size: $md-text;
              width: calc(100% - 50px);
            }

            .unread-msg-count {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 20px;
              border-radius: 100%;
              font-size: $sm-text;
              text-align: right;
              background-color: $primary-color;
              color: $white-text;
            }
          }
        }
      }
    }
  }

  .chat-area {
    width: calc(100% - $chat-list-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;

    .chat-area-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;

      .user-info {
        .user-info-name {
          vertical-align: middle;
          margin-left: 10px;
        }

        .user-avatar {
          width: 34px;
          height: 34px;
          vertical-align: middle;
        }
      }

      .user-settings-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        font-size: $default-font-size;
        cursor: pointer;

        .user-settings-symbol {
          line-height: 40%;
        }
      }
    }

    .chat-area-main {
      border-top: $default-border;
      border-bottom: $default-border;
      height: 100%;
    }

    .chat-area-message-container {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      .clip-icon {
        cursor: pointer;
        width: 30px;
        height: 30px;
      }

      .send-message-form {
        display: flex;
        align-items: center;
      }

      .chat-area-message-input {
        width: 100%;
        margin: 0 10px;
        background-color: $light-grey-color;
        border-radius: 30px;
        padding: 10px 20px;
      }
    }
  }
}
