@import "./components/chat/chat";
@import "./components/settings-window/settings-window";
@import "./components/chat-list/chat-list";
@import "./components/messenger/messenger";

.chat-page {
  display: flex;

  .chat-area {
    height: 100%;
    width: calc(100% - $chat-list-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;

    .chat-area-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: $default-border;

      .user-info {
        .user-info-name {
          vertical-align: middle;
          margin-left: 10px;
        }
      }
    }
  }
}
