.profile-page {
  display: flex;

  .back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 64px;
    min-height: 100vh;
    background-color: $light-grey-color;
  }

  .profile-container {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .user-name {
      font-size: $lg-text;
    }
  }
}

.profile-table {
  width: 510px;
  margin-top: 60px;

  .profile-table-cell {
    border-bottom: $default-border;
    padding: 10px 0;
  }
}

.configuration-table {
  .configuration-row {
    &:last-child {
      .configuration-link {
        color: $red-color;

        &:hover {
          color: $red-hover-color;
        }
      }
    }
  }
}
