.send-message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: $default-border;
  width: 100%;
  position: relative;
  bottom: 0;
  right: 0;

  .clip-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .input {
    width: 100%;
    background-color: $light-grey-color;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 10px;
  }
}
