html,
body {
  margin: 0;
  max-height: 100%;
  overflow-x: hidden;
}

.root {
  font-size: $default-font-size;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $black-text;
}

.bold-text {
  font-weight: 500;
}

.avatar {
  border-radius: 100%;
  object-fit: cover;
}
