// Colors
$primary-color: rgba(51, 105, 243, 1);
$red-color: rgba(255, 0, 0, 1);
$extra-light-grey: rgba(251, 251, 251, 1);
$light-grey-color: rgba(239, 239, 239, 1);
$grey-color: rgba(153, 153, 153, 1);

$primary-hover-color: rgba(51, 105, 243, 0.8);
$red-hover-color:  rgba(255, 0, 0, 0.8);

$black-text: rgba(30, 30, 30, 1);
$white-text: rgba(255, 255, 255, 1);

// Fonts
$default-font-size: 13px;
$xs-text: 9px;
$sm-text: 11px;
$md-text: 12px;
$lg-text: 16px;
$xl-text: 20px;
$xxl-text: 40px;

// Borders
$default-border: 1px solid $light-grey-color;

