// Main colors
$primary-color: rgb(51 105 243 / 1);
$red-color: rgb(255 0 0 / 1);
$extra-light-grey: rgb(248 248 248 / 1);
$light-grey-color: rgb(239 239 239 / 1);
$grey-color: rgb(153 153 153 / 1);
$light-blue-color: rgb(228 237 253 / 1);

// Hover colors
$primary-hover-color: rgb(51 105 243 / 0.8);
$red-hover-color: rgb(255 0 0 / 0.8);

// Text colors
$black-text: rgb(30 30 30 / 1);
$white-text: rgb(255 255 255 / 1);

// Fonts
$default-font-size: 13px;
$xs-text: 9px;
$sm-text: 11px;
$md-text: 12px;
$lg-text: 16px;
$xl-text: 20px;
$xxl-text: 40px;

// Borders
$default-border: 1px solid $light-grey-color;
$default-radius: 12px;

// Shadows
$default-box-shadow: 0 0 6px rgb(0 0 0 / 0.14);

// Size
$chat-list-width: 310px;
$avatar-size-sm: 34px;
$avatar-size-md: 47px;
