.configuration-table {
  .configuration-link {
    color: $primary-color;
  }

  .configuration-row {
    .configuration-link {
      &:hover {
        color: $primary-hover-color;
      }
    }

    &:last-child {
      .configuration-link {
        color: $red-color;

        &:hover {
          color: $red-hover-color;
        }
      }
    }
  }
}
