.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-label {
    font-size: $sm-text;
    margin-top: 16px;
    margin-bottom: 7px;
    color: $grey-color;
  }

  .input {
    border-bottom: 1px solid $primary-color;
    padding-bottom: 7px;
  }
}

.input-field-profile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .input {
    text-align: right;
    color: $grey-color;
  }

  .error-message {
    text-align: left;

    &:last-child {
      width: 100%;
    }
  }
}

.input-popup-profile {
  width: 120px;
  text-align: center;
}
